#links-container{
	font-size: 1.15em;
}

.btn-file{
	position:relative;
	overflow:hidden;
}
.btn-file input[type=file]{
	position:absolute;
	top:0;
	right:0;
	min-width:100%;
	min-height:100%;
	font-size:100px;
	text-align:right;
	filter:alpha(opacity=0);
	opacity:0;
	outline:0;
	background:white;
	cursor:inherit;
	display:block;
}

input[readonly]{
	background: white !important;
	cursor: text !important;
}

.loading-img {
	height: 36px;
	width: 36px;
}

.green{
	color: $;
}

.alert{
	margin-bottom: 0;
}
